@storybook:registry=https://registry.npmjs.org/
@testing-library:registry=https://registry.npmjs.org/
eslint:registry=https://registry.npmjs.org/
prettier:registry=https://registry.npmjs.org/
react:registry=https://registry.npmjs.org/
styled-components:registry=https://registry.npmjs.org/
typescript:registry=https://registry.npmjs.org/
vite:registry=https://registry.npmjs.org/
vitest:registry=https://registry.npmjs.org/

//npm.pkg.github.com/:_authToken=${NODE_AUTH_TOKEN}